{{#extend "base"}}
	{{#content "title" mode="prepend"}}Not Found | {{/content}}

	{{#content "body" mode="replace"}}
	<main>
		<h1>Not Found</h1>
		<p>Ah, nuts. The page you requested doesn&rsquo;t exist.</p>
	</main>
	{{/content}}
{{/extend}}
