{{#extend "base"}}
	{{#content "title" mode="prepend"}}{{ article.metadata.title }} | {{/content}}

	{{#content "body" mode="replace"}}
		<h1>{{ article.metadata.title }}</h1>
		<h2>{{ article.metadata.date }}</h2>
		{{{ article.contents }}}
	{{/content}}
{{/extend}}
